.markdown h1 {
  font-size: 3em;
  margin: 1em 0;
  font-weight: 900;
  font-family: Poppins;
}

.markdown h2 {
  font-size: 2em;
  margin: 1em 0;
  font-weight: 800;
  font-family: Poppins;
}

.markdown h3 {
  font-size: 1.5em;
  margin: 1em 0;
  font-weight: 700;
  font-family: Poppins;
  text-decoration: underline;
}

.markdown p {
  margin: 1em 0;
}

.markdown a {
  color: #fc3ffb;
  text-decoration: none;
}

.markdown a:hover {
  text-decoration: underline;
}

.markdown ul {
  padding-left: 1em;
}

.markdown li {
  margin-bottom: 0.5em;
}
.markdown img {
  border-radius: 20px;
}
