@property --a {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

#boxconicanim {
  background: conic-gradient(
    from var(--a) at center,
    #ffffff90 0%,
    #ffffff30 20%,
    #0d0d12 30%,
    #0d0d12 50%,
    #ffffff30 70%,
    #ffffff90 100%
  );
  animation: rotateConic 5s linear infinite;
}

@keyframes rotateConic {
  from {
    --a: 0deg;
  }
  to {
    --a: 360deg;
  }
}

#mainmd {
  width: '100vh';
  padding: 10px;
}

#contentmd {
  max-width: 700px;
  margin-inline: auto;
}
