*::-webkit-scrollbar {
  display: none;
}
* {
  font-family: 'Poppins';
  font-weight: 400;
}
.boxEffect::after {
  content: '';
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: conic-gradient(
    from 0deg at 45% 47%,
    rgba(26, 255, 0, 1) 0%,
    rgba(255, 0, 255, 1) 100%
  );
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(0deg); /* Ajout de la propriété rotate */
  border-radius: 10px;
  animation: rotate 5s linear infinite; /* Ajout de l'animation */
  z-index: -1;
  filter: blur(50px);
}

.boxEffect {
  box-shadow: 0px 0px 30px 0px #ffffff20;
  background: linear-gradient(
    135deg,
    rgba(6, 10, 27, 1) 0%,
    rgba(8, 10, 36, 0.87777048319327735) 100%
  ) !important;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg); /* Début de l'animation */
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg); /* Fin de l'animation */
  }
}

.index1,
.index2,
.index3 {
  position: absolute;
  transform: translate(-50%, -50%);
}
.relative {
  position: relative;
  width: 100%;
  height: 100%;
}

.absolute {
  position: absolute;
  z-index: 9;
  width: 200px;
  height: 200px;
  top: -30px;
  left: 50px;
  overflow: hidden;
}
@media screen and (max-width: 990px) {
  .absolute {
    top: calc(50% - 130px) !important;
    left: calc(50% + 100px) !important;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 767px) {
  .absolute {
    top: calc(50% - 110px) !important;
    left: calc(50% + 100px) !important;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
  }
}

.index1 {
  animation: rotate-infinite 10s linear infinite;
}

.index2 {
  animation: rotate-infinite 10s linear infinite reverse;
}
.index3 {
  animation: rotate-infinite-pause 10s linear infinite reverse;
}

@keyframes rotate-infinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotate-infinite-pause {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.spin {
  animation: spin 5s linear infinite;
  -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 5s linear infinite;
  -o-animation: spin 5s linear infinite;
  -ms-animation: spin 5s linear infinite;
  transform: translateZ(0);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
